@{
    ViewBag.Title = "Main";
}
@section scripts {
    @Scripts.Render("~/bundles/arborjs")
}
    <div class="container">
        <h2>Hello, world!</h2>

        <canvas width=800 height=600 id ="viewport"></canvas>
    </div>

    
