@{
    ViewBag.Title = "Main";
}
@section scripts {
    @Scripts.Render("~/bundles/arborjs")
}
    <div class="container">
        <h2>Семантическая сеть</h2>
        <div class="contanier arbor">
            <canvas id="viewport"></canvas>
        </div>
    </div>

    
